vkbottle-callback @ git+git://github.com/mironovmeow/vkbottle-callback@master
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
choicelib==0.1.4
colorama==0.4.4
contextvars==2.4
idna==3.3
immutables==0.16
loguru==0.5.3
multidict==5.2.0
psycopg2-binary==2.9.1
pydantic==1.8.2
requests==2.26.0
typing-extensions==3.10.0.2
urllib3==1.26.7
vbml==1.1
vkbottle==3.0.2
vkbottle-types==5.131.119.4
watchgod==0.7
win32-setctime==1.0.3
yarl==1.7.0
