aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.17.0
APScheduler==3.8.1
async-timeout==4.0.1
attrs==21.2.0
backports.zoneinfo==0.2.1
charset-normalizer==2.0.9
choicelib==0.1.4
colorama==0.4.4
frozenlist==1.2.0
greenlet==1.1.2
idna==3.3
loguru==0.5.3
multidict==5.2.0
pydantic==1.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
SQLAlchemy==1.4.27
typing-extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
vbml==1.1
vkbottle @ git+https://github.com/vkbottle/vkbottle.git@3b7f36b0f55a68d2e84610a95a2772df196985b5
vkbottle-types==5.131.131.1
watchgod==0.7
win32-setctime==1.0.4
yarl==1.7.2
