aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
choicelib==0.1.4
colorama==0.4.4
contextvars==2.4
idna==2.10
immutables==0.15
loguru==0.5.3
multidict==5.1.0
psycopg2-binary==2.9.1
pydantic==1.8.1
requests==2.25.1
typing-extensions==3.7.4.3
urllib3==1.26.3
vbml==1.1
vkbottle==3.0.2
vkbottle-types==5.131
watchgod==0.7
win32-setctime==1.0.3
yarl==1.6.3
